**Day 1 Python basic for machine learning**

*Date : 9 December, 2025*

## Theory Summary
- Variables, loops, functions
- Lists, dictionaries, tuples
- List comprehensions

**1. Variables**

A variable is a container used to store data.

In [2]:
name="Noman"
age=22
height=5.8

In [5]:
print(name)
print(age)
print(height)

Noman
22
5.8

In [8]:
# variable value can be change anytime.
age=age+2

In [7]:
print(age)

24

**2. Loops**

Loops allow repeating tasks without writing code again and again.

ðŸ”¹ *for loop â€“ used when you know how many times to repeat*

**Task: Create a function to calculate mean WITHOUT NumPy.**

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

*while loop â€“ continues until condition becomes false*

In [10]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**3. Functions**

A function is a block of reusable code. Instead of writing same logic again, you call the function.

In [20]:
#Simple function for printing hello world when it call.
def hello():
    print("Hello World")
hello()

Hello World

*Function with parameters*

In [21]:
def add(a,b):
  return a+b

add(2,3)

5

In [22]:
def multiple(a,b):
  c=a*b
  return c

multiple(2,3)

6

**4. Lists**

*Used to store multiple values in one variable. It is mutable (can be changed).*

In [23]:
numbers=[1,2,3,4,5]

In [24]:
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
numbers.append(6)

In [26]:
print(numbers)

[1, 2, 3, 4, 5, 6]

**5. Tuples**

Similar to list but immutable (cannot be changed after creation).

In [27]:
person = ("Noman", 22, "Pak")

In [28]:
print(person)

('Noman', 22, 'Pak')

If you try modifying â†’ error

**6. Dictionary**

Stores data in key-value format.

In [30]:
student = {"name":"Noman", "age":22}
print(student["name"])

Noman

In [31]:
print(student['age'])

22

In [34]:
student['gender']="male"

In [35]:
print(student)

{'name': 'Noman', 'age': 22, 'gender': 'male'}

**7. List Comprehension**

A short way to create lists in one line.

*Normal way*

In [44]:
squares = []
for i in range(1,6):
    squares.append(i*i)

In [46]:
squares

[1, 4, 9, 16, 25]

**List comprehension way**

In [49]:
squares=[i*i for i in range(1,6)]

In [50]:
squares

[1, 4, 9, 16, 25]

# Task

**1. Create variables for:**

name

age

city

print them.

In [36]:
name="Noman"
age=23
city="Karachi"
print(name,age,city)

Noman 23 Karachi

**2. Write a loop that prints numbers 1 to 20.**

In [38]:
for i in range(20):
  print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**3. Write a function that takes a number and returns square.**

In [40]:
def square(a):
  return a*a
square(4)

16

**4. Make a list of 5 fruits and print the 3rd fruit.**

In [41]:
fruits=["Apple","Banana","Mango","Grapes","Orange"]
fruits[2]

'Mango'

**Create a dictionary for a laptop:**

*brand, RAM, price*

In [42]:
laptop={"brand":"Samsung","RAM":"16GB","price":35000}

In [43]:
print(laptop)

{'brand': 'Samsung', 'RAM': '16GB', 'price': 35000}

**6. Convert this loop into list comprehension:**

*nums = []*

*for i in range(1,11):*

*nums.append(i*2) *

In [51]:
nums=[i*2 for i in range(1,11)]

In [52]:
nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]